./ML4Climate2025/lectures_ML/SupervisedML/FPA_FOD_west_cleaned.csv.1
./ML4Climate2025/lectures_ML/SupervisedML/FPA_FOD_west_cleaned.csv
./ML4Climate2025/lectures_ML/SupervisedML/FPA_FOD_west_cleaned.csv.3
./ML4Climate2025/lectures_ML/SupervisedML/FPA_FOD_west_cleaned.csv.2
./ML4Climate2025/lectures_ML/SupervisedML/rnd_multiclass_clf.pkl
./ML4Climate2025/lectures_ML/SupervisedML/FPA_FOD_west_cleaned.csv.1
./ML4Climate2025/lectures_ML/SupervisedML/FPA_FOD_west_cleaned.csv
./ML4Climate2025/lectures_ML/SupervisedML/FPA_FOD_west_cleaned.csv.3
./ML4Climate2025/lectures_ML/SupervisedML/FPA_FOD_west_cleaned.csv.2
./ML4Climate2025/lectures_ML/SupervisedML/rnd_multiclass_clf.pkl
